# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
build/
dist/

# JetBrains
.idea/

# macOS
.DS_Store

# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
